.container {
  min-height: 100vh;
  display: flex;
}

.mainContent {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* width: calc(100% - 16rem); */
  background-color: #f7f8fc;
}

.title {
  margin: 1rem 0; 
  line-height: 1;
  font-size: 3rem;
  font-weight: 100;
}

.description {
  margin: 1rem 0; 
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 100;
}

@media (max-width: 600px) {

}