.menuWrapper {
  width: 16rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #A4A6B3;
  background-color: #363740;
}

.menuNav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.navHeader {
  width: 16rem;
  height: 3.5rem;
  margin-top: 1.1rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1875rem;
  font-weight: 500;
  color: #838590;
}

.navHeader span {
  margin-left: 3.5rem;
}

.menuItem {
  width: 16rem;
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
}

.menuItem:hover {
  cursor: pointer;
  color: #DDE2FF;
  background-color: #3f4049;
}

.menuItem:hover .menuIcon {
  filter: invert(99%) sepia(25%) saturate(5568%) hue-rotate(179deg) brightness(101%) contrast(105%);
}

.active {
  color: #DDE2FF;
  background-color: #3f4049;
  border-left: 3px solid #DDE2FF;
}

.active .menuIcon {
  margin-left: calc(1.5rem - 3px);
  filter: invert(99%) sepia(25%) saturate(5568%) hue-rotate(179deg) brightness(101%) contrast(105%);
}

.menuIcon {
  width: 24px;
  height: 24px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(1.5px);
  filter: invert(39%) sepia(28%) saturate(154%) hue-rotate(194deg) brightness(93%) contrast(96%);
}

.navFooter {
  margin-top: auto;
  margin-bottom: 3rem;
}

@media (max-width: 600px) {
  .menuWrapper, .menuItem {
    width: 4.5rem;
  }
  .menuItem span {
    display: none;
  }
  .navHeader {
    visibility: hidden;
  }
}